.list-group button{
    margin: 2px;
}

main {
    max-width: 2000px;
    margin: 5px;
}

.row {
    margin: 5px;
}

#top {
text-align: center;
color: rgb(255, 255, 255);
background: #4c6daa;
padding: 8px;
}

#search-btn {
    text-align: center;
    color: rgb(255, 255, 255);
    background: #4b6fb3;
    margin: 2px;
    min-width: 110px;
}

h2 {
    font-size: 1.6rem;
}

p {
    font-size: 1.5em;
}

.card-img-top {
    width: 10%;
}

.card-body {
    background-color: #302f8d;
    color: rgb(255, 255, 255);
}
