body {
    margin: 2%;
}

header {
    margin-top: 1%;
    background-image: linear-gradient(to left, #545a9e, #8c8ad7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

h2 {
    font-size: 1.5em;
    font-weight:bold;
    padding-top: 0.5em;
}

.city {
    display: flex;
}

.days {
    background-color:blue;
    color: white;
    margin-top: 3em;
}

#search-city {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button {
    background-color: lightgreen;
    color: white;
    border-style: hidden;
}

#search-data {
    padding-top: 20%;
}

#past-city {
    background-color: rgb(23, 43, 59);
    color: aliceblue;
    border-style: hidden;
}

#city-name-date {
    font-size: 1.7em;
    align-items: center;
}

#current-data {
    margin-top: 1em;
    border: solid 1px black;
}

#today-icon {
    width: 15%;
}

@media screen and (max-width = 768px) {
    .days {
        margin-top: 2em;
    }
}
